.aligner {
    opacity: 0.7;
    background-color: white;
    padding: 17px;
    border-radius: 8px;

    h1 {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 3em;
      font-weight: 100;
    }
}

